header {
  text-align: center;
  border-bottom: 1px solid gray;
}

header blockquote {
  margin-top: 0;
}

a {
  color: black;
  text-decoration: underline;
  text-decoration-color: #F17105;
}

a:hover {
  color: #F17105;
}

.content {
  width: 800px;
  margin: 25px auto 150px;
  display: flex;
  justify-content: space-between;
}

main {
  flex-grow: 2;
  order: 1;
}

aside {
  flex-grow: 1;
  order: 2;
  border-left: 1px solid gray;
}

section.spotlight h4 {
  text-align: center;
}

section.spotlight {
  /* margin-top: 75px;
  margin-bottom: 125px; */
}

.spotlight-item {
  margin-left: 75px;
}



footer {
  text-align: center;
}
