header {
  text-align: center;
  border-bottom: 1px solid gray;
  margin: 0 50px;
}

header h1 {
  color: #F17105;
}

header blockquote {
  margin-top: 0;
}

a {
  color: black;
  text-decoration: underline;
  text-decoration-color: #F17105;
}

a:hover {
  color: #F17105;
}

.content {
  width: 800px;
  margin: 25px auto 150px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

main {
  flex-grow: 2;
  order: 1;
}

aside {
  flex-grow: 1;
  order: 2;
  border-left: 1px solid gray;
}

ul {
  list-style-type: circle;
}

li {
  margin: 10px;
}

@media (max-width: 800px){
  .content {
    width: 100%;
  }

  header {
    margin: 0;
  }

  header h1 {
    font-size: 54pt;
  }

  main, aside {
    width: 100%;
  }

  aside {
    border-left: 0;
    border-top: 1px solid gray;
    text-align: center;
    margin: 50px;
  }

  ul {
    padding: 0;
    list-style-type: none;
  }
}

section.spotlight h4 {
  text-align: center;
}

.spotlight-item {
  margin-left: 75px;
}

footer {
  text-align: center;
}
